@import "font";

.arabic {
  direction: rtl;
  font-family: KFGQPC Uthman Taha Naskh, KFGQPC Uthmanic Script HAFS, Scheherazade, Trebuchet MS, Arial, Helvetica;
}
.text-arabic {
  font-size: 26px;
  text-align: justify;
}
.btn-detail {
  margin: -5px -12px;
}
.result-item {
  margin-bottom: 2rem;
}
.click-to-copy {
  position: relative;
  cursor: copy;
  &:after {
    display: none;
    font-family: "Source Sans Pro",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
    content: "Klik untuk menyalin teks.";
    direction: ltr;
    font-size: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    pointer-events: none;
    color: #fff;
  }
  &:before {
    display: none;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: -5px -10px;
    background-color: rgba(0, 123, 255, .3);
    z-index: 8;
    pointer-events: none;
    border-radius: .2rem;
  }
  &:hover {
    &:after {display: block;}
    &:before {display: block;}
  }
}
.card-body {
  position: relative;
}
.hover-click-to-copy-all {
  position: absolute;
  z-index: 99;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 30%;
  transform: translateX(-50%);
  margin: 10px;
  border-radius: .2rem;
  cursor: copy;
  &:hover + .click-to-copy-all {
    &:after {display: block;}
    &:before {display: block;}
  }
}
.click-to-copy-all {
  &:after {
    display: none;
    content: "Klik untuk menyalin teks.";
    font-size: 12px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    pointer-events: none;
    color: #fff;
  }
  &:before {
    display: none;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin: 10px;
    background-color: rgba(0, 123, 255, .3);
    z-index: 8;
    pointer-events: none;
    border-radius: .2rem;
  }
}
.form-search {
  flex-grow: 1;
  .input-group {
    width: 100%;
  }
}